<p style="color: green"><%= notice %></p>

<% content_for :title, "Lists" %>

<h1>My To Do Lists</h1>

<div id="lists">
  <% @lists.each do |list| %>
    <% if list.completed %>
      <div class="card ">
        <div class="card-body bg-secondary">
          <%= render list %>
          <button type="button" class="btn btn-primary">
            <%= link_to "Edit To Do", list %>
          </button>
        </div>
    </div>
    <% else %>
      <div class="card">
        <div class="card-body">
          <%= render list %>
          <button type="button" class="btn btn-secondary">
            <%= link_to "Edit To Do", list %>
          </button>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "New To Do", new_list_path %>
