<p style="color: green"><%= notice %></p>

<% content_for :title, "Lists" %>

<h1>My To Do Lists</h1>

<div id="lists">
  <% @lists.each do |list| %>
    <% if list.completed %>
      <div class="card ">
        <div class="card-body bg-secondary text-decoration-line-through">
          <p>
            <%= link_to list.description, list, class: "text-dark link-dark" %>
          </p>
          <%= button_to "Delete", list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger text-white link-light" %>

        </div>
    </div>
    <% else %>
      <div class="card">
        <div class="card-body">
          <p>
            <%= link_to list.description, list, class: "text-dark link-dark" %>
          </p>
          <%= button_to "Delete", list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger text-white link-light" %>

        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "New To Do", new_list_path %>
